div.text-highlight-blue {
  background-color:rgba(108, 180, 238, 0.1);
  border: 1px solid rgba(0, 48, 143, 0.1);
  margin-bottom: 2.5em;
}

div.text-highlight-blue p {
  margin: 15px 15px;
}

div.text-highlight-blue h6 {
  margin-left: 15px;
  margin-top: 15px;
}

.iama-border {
  border-color: purple !important;
}

#logout-form {
  display: inline;
}
#logout-form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

html::-webkit-scrollbar {
  display: none !important;
}
