body {
  padding-left: 2em;
  padding-right: 2em;
}

h1 {
  margin-bottom: 1em;
}

hgroup {
  margin-bottom: 1em;
}

#responsible {
  margin-top: 2em;
}

#responsible ul {
  margin: 1em;
}

.table-center {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.table-wide {
  width: 100%;
}

.table-wide th {
  text-align: left;
}

.subheader {
  margin-top: 2em;
  margin-bottom: 1em;
}

table {
  table-layout: fixed;
}
