
<ul class="list-group rounded border">
    <li class="list-group-item border-bottom rounded-top d-flex justify-content-center" style="background-color:#9c27b0">
      <h4 style="color:white; margin-bottom: 0">Editors</h4>
    </li>
    {% for editor in editor_list %}
        <li class="list-group-item list-group-item-light border-top d-flex justify-content-between">
            <div class="">
                <p style="margin-bottom: 0px; font-size: 20px"> <b>Gebruikersnaam: {{editor.username}}</b></p>
                <p style="margin-bottom: 0px"> Gebruikers id: {{editor.pk}} </p>
            </div>
            
            <div class="d-flex align-items-center">
                <a href="#" data-toggle="modal" data-target="#delete_modal{{ editor.id }}">
                    <i class="material-icons">delete</i>
                </a>
                <div class="dropdown-menu">
                    <h6>test</h6>
                </div>
            </div>
        </li>
        <div class="modal fade" id="delete_modal{{ editor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Waarschuwing - permanent verwijderen?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Weet je zeker dat je {{ editor.name }} als editor wil verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                    <a href="{% url 'base:delete_editor' assesment.id editor.id %}"><button type="button" class="btn btn-primary">Verwijder</button></a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if not editor_list %}
        <li class="list-group-item list-group-item-light border d-flex justify-content-center">
          <div>Geen Editors</div>
        </li>
    {% endif %}
</ul>
