{% load static %}
<div class="modal fade" id="risk_appendix" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preventieve en mitigerende maatregelen</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Introductie</h3>
        <p>In het bijzonder in het stappenplan grondrechten (stap 6: noodzakelijkheid) is aangegeven dat het nodig kan zijn om te zoeken naar maatregelen om de (mogelijke) nadelige effecten op grondrechten te voorkomen (preventieve maatregelen of in ieder geval te verzachten (mitigerende maatregelen)</p>
        <h3>Maatregelen om problemen bij de ontwikkeling en inzet van het algoritme te voorkomen</h3>
        <div class="rounded text-highlight-blue" style="margin:1em">
          <ul>
              <li>Verminderen van risico’s van bias in data door instance class modification, instance selection of instance weighing</li>
              <li>Zichtbaar maken van de invloed van beschermde persoonskenmerken op de werking van het algoritme door middel van instrumenten van o.m. ‘gender tagging’.</li>
              <li>Creëren van ‘fairness aware’ algoritmen</li>
              <li>Inzet van in-processing of post-processing methodes van ‘bias mitigation’.</li>
              <li>Inzet van mechanismen voor ‘ethics by design’, ‘equality by design’, ‘security by design’ etc.</li>
              <li>Testen en valideren.</li>
              <li>Inzet van mechanismen om de transparantie en uitlegbaarheid van algoritmes te bevorderen, zoals een ‘crystal box’ of getrapte transparantie.</li>
          </ul>
        </div>
        <h3>Maatregelen om problemen bij de ontwikkeling en inzet van het algoritme te voorkomen</h3>
        <div class="rounded text-highlight-blue" style="margin:1em">
          <ul>
              <li>Werken op basis van een experiment of proeftuin met een beperkte dataset en beperkte toegankelijkheid; pas na uitgebreid testen verbreden.</li>
              <li>Horizonbepalingen en evaluatiemomenten opnemen in de regeling op grond waarvan het algoritme kan worden ingezet.</li>
              <li>Verplichtingen tot rapportage en reguliere audits opnemen om regelmatig te kunnen controleren wat de effecten van het algoritme zijn en hoe het uitwerkt op grondrechten.</li>
              <li>Ontoelaatbaar achten van of moratorium zetten op een bepaalde inzet van algoritmes.</li>
              <li>Formuleren van plafonds voor inzet van bepaalde algoritmes.</li>
              <li>Inzet van gedragscodes, professionele standaarden of ethische codes voor actoren die een algoritme zullen hanteren.</li>
              <li>Ontwikkelen van een variant op de hippocratische eed voor ontwikkelaars en toepassers van algoritmen (mits begeleidt door onderwijs of training omtrent data ethiek).</li>
              <li>Onderwijs of training omtrent data-ethisch bewustzijn.</li>
              <li>Normalisatie, accreditatie en certificering van algoritmes op basis van hun voldoen aan de eisen voor verantwoorde algoritmes.</li>
              <li>Inzetten van checklists bij het nemen van besluiten op basis van de output van een algoritme.</li>
              <li>Aanbieden van inspraakmogelijkheden voor getroffen of betrokken burgers.</li>
              <li>Ontwikkelen van een exitstrategie om gebruik van het algoritme stop te zetten in het geval dit niet langer wenselijk blijkt.</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
