<a href="#" style="margin-right: 1.5em" class="btn btn-primary btn-round" data-bs-toggle="modal" data-bs-target="#question_history">
  Open vraag geschiedenis
  <i class="material-icons">history</i>
</a>


<div class="modal fade" id="question_history" tabindex="-1" data-bs-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vraag geschiedenis van vraag {{ question.question_phase }}.{{ question.question_number }}</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        {% if question_history %}
            {% for answer in question_history %}
        <h4>Gemaakt op: {{ answer.created|date:'Y-m-d H:i' }}, door {{ answer.user.username }}</h4>
            <p class="border-bottom"> {{ answer.answer_content }} </p>
            {% endfor %}
        {% else %}
            <h4>Nog geen opgeslagen antwoorden</h4>
        {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluit</button>
        </div>
        </div>
    </div>
</div>
