{% load base_extra %}
<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Mensenrechten die mogelijk geraakt worden</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
            <th>
                Naam
            </th>
            <th>
                Compleetheids status
            </th>
            <th>
                Delete
            </th>
            </thead>
            <tbody>
            {% for law in law_list %}
            <tr>
                <td>
                    <a href="#">{{ law.name }}</a> 
                </td>
                <td>
                    {{ law.status|get_law_status|safe }}
                </td>
                <td>
                    <a data-toggle="modal", data-target=#delete_modal{{ law.id }} href="#">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
            
            <div class="modal fade" id="delete_modal{{ law.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Waarschuwing - Grondrecht permanent verwijderen?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Weet je zeker dat je {{ law.name }} wil verwijderen uit deze lijst? 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                  <a href="{% url 'base:delete_law' law.id %}?next={{ request.path }}"><button type="button" class="btn btn-primary">Verwijder</button></a>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <h4 style="border-top:1px solid purple; padding-top:1em" class="text-primary">Voeg hier grondrechten toe!</h4>
        <form action="{% url 'base:create_law' assesment.id %}" method="post">
            {% csrf_token %}
            {% if error %}
            <span class="text-danger">{{ error }}</span>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Naam grondrecht</label>
                        <input type="text" class="form-control" name="name" placeholder="Vul hier de naam van het grondrecht in">
                    </div>
                </div>
            </div>
            <input type="hidden" value="{{ request.path }}" name="next">
            <button type="submit" class="btn btn-primary pull-right">Voeg nieuw grondrecht toe</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
