{% extends "base/base.html" %}

{% block navigation %}
Assesment Overzicht - {{ assesment.name}}
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ assesment.name }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-gray font-weight-bold">Laatst aangepast:</div>
                        <p class="border-bottom" style="font-size: 15px;">{{ assesment.date_last_saved }}</p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-gray font-weight-bold">Compleetheids status:</div>
                        <p class="border-bottom" style="font-size: 15px;">{{ assesment.complete_status }}</p>
                    </div>
                </div>
                <form action="{% url 'base:update_assesment' assesment.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Naam assesment</label>
                                <input type="text" class="form-control" name="name" value="{{ assesment.name }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Naam uitvoerende organisatie</label>
                                <input type="text" class="form-control" name="organisation" value="{{ assesment.organisation }}">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% include "base/q_index.html" with assesment=assesment questions=questions %}
    </div>
</div>
<div class="row d-flex align-items-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Voordat je begint!</h4>
            </div>
            <div class="card-body">
                <p>Handig text die bealngrijk is om te weten voor het beginnen aan de service</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <a href="{% url 'base:phase_intro' assesment.id 1 %}" class="btn btn-primary btn-round">Start Assesment!</a>
    </div>
    
</div>
{% endblock %}