{% extends "base/base.html" %}

{% block navigation %}
IAMA & IAMA Checker informatie
{% endblock %}

{% block content %}
<div class="row">
  <h2 class="iama">IAMA: Introductie en extra Informatie</h2> 
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">IAMA Introductie</h4>
                <p class="card-category">Impact Assesment Mensenrechten en Algoritmes</p>
            </div>
            <div class="card-body">
                <p style="color: grey">
                    IAMA dient als een vragenlijst die organisaties grondig en kritisch laat kijken naar de noodzaak voor het inzetten, ontwikkelen, aankopen of aanpassen van algoritmes.
                     Het laat alle disciplines (lees: beroepen) die betrokken zijn bij de inzet van een dergelijk algoritme samenkomen om vroegtijdig te proberen  toekomstige risico’s, nalatigheid en mogelijke inbreuk op mensenrechten te voorkomen.
                     Om dit mogelijk te maken bevat IAMA vragen die niet alleen gaan over algemenere qualiteits controles die gelden voor algoritmes, maar ook vragen die laten zien of er inbrueken gedaan worden op de mensenrechten van de groepen die beïnvloedt worden door het betreffende algoritme. 
                     <br>
                     <br>
                     Om deze redenen kan IAMA ook als instrument gebruikt worden om de besluitvorming rondom algoritmes te leiden en gelijk vast te leggen. Hiermee creëert een organisatie ook meteen het naslagwerk dat later verantwoording kan afleggen voor de besluiten die zijn gemaakt. 
                     Het is ook belangrijk om op te merken dat IAMA erg nauw samenhangt met andere richtlijnen en regulaties die gaan over het gebruikt van algoritmes zoals de <a target="_blank" rel="noopener noreferrer" href="https://www.autoriteitpersoonsgegevens.nl/themas/basis-avg/praktisch-avg/data-protection-impact-assessment-dpia"><u>GEB/DPIA</u></a>, dit is ook de reden dat een aantal van de antwoorden die gegeven worden op deze vragen uitwisselbaar zijn onder dergelijke richtlijnen.
                     Het originele IAMA document opgesteld door Prof. mr. Janneke Gerards, Dr. Mirko Tobias Schäfer, Arthur Vankan en Iris Muis is <a target="_blank" rel="noopener noreferrer" href="https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes"><u>hier</u></a> te vinden.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">IAMA Structuur</h4>
                <p class="card-category">Hoe werkt IAMA als algoritme beoordeling?</p>
            </div>
            <div class="card-body">
                <p style="color: grey">
                    IAMA bestaat uit 4 fases met ieder een thema en bijbehorende vragen.
                     Waarvan de eerste drie toepasbaar zijn op het belsuitingsproces rondom ieder algoritme en fase 4 specifiek gaat over hoe het algoritme omgaat met mensenrechten.
                     Zoals eerder is genoemd is het van belang dat meerdere disciplines betrokken zijn bij het uitvoeren deze assesment, daarom staat bij iedere vraag vermeld worden welke disciplines geadviseerd wordt om betrokken te zijn bij het geven van een antwoord.
                     <br>
                     <br>
                     Wees tijdens het invullen van de IAMA vragen zo grondig and vooruitdenkend mogelijk, denk na over de consequenties en ook mogelijke maatregelen die het effect van deze kan mitigeren.
                     Om vast te leggen wie er verantwoordelijk is voor welke antwoorden is het ook nodig om de naam en organisatie namens wie de persoon antwoordt vast te leggen in de beoordeling per vraag. 
                     Omdat het dus van belang is dat er meerdere mensen samenkomen om een antwoord te geven is het moelijk om te weten wanneer dit antwoord nou compleet is. Om hier uit te komen is het sterk aangeraden om ieder antwoord voor te leggen aan een groep met mensen die de disciplines die bij de vraag vereist zijn. Pas als deze "review" klaar is, dan wordt het antwoord als compleet beschouwd. 
                     
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Over IAMA Checker</h4>
                <p class="card-category">Een toegankelijkere IAMA assesment</p>
            </div>
            <div class="card-body">
                <p style="color: grey;">
                    De IAMA Checker is ontworpen als software tool om organisaties door het proces van een IAMA assesment heen te begeleiden, zonder dat de personen betrokken bij deze assesment uitgebreidde kennis over IAMA nodig hebben.
                    De tool zal je begeleiden door alle 4 de fases van een IAMA assesments en geeft de gebruiker bij iedere stap in het proces genoeg gecondenseerde informatie om een geïnformeerd antwoord te geven.
                    <br>
                    Deze tool voegt een aantal functionaliteiten toe die het doen van een assesment makkelijker en efficiënter maakt dan het originele IAMA pdf bestand.
                    Dit is onder andere:
                    <ul style="color:grey">
                      <li>Het bijhouden van wie er aan een antwoord heeft meegewerkt en namens welke organisatie ze antwoorden</li>
                      <li>Het presenteren van relevante externe literatuur per vraag</li>
                      <li>Het bijhouden van compleetheids status van vragen en hele assesments</li>
                      <li>Weergeven welke disciplines aangeraden zijn om te betrekken bij het antwoord</li>
                      <li>Het makkelijk opslaan/bewerken/updaten van data betreffende een IAMA assesment</li>
                      
                    </ul>

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
