{% extends "base/base.html" %}

{% block navigation %}
IAMA & IAMA Checker informatie
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">IAMA Introductie</h4>
                <p class="card-category">Impact assessment Mensenrechten en Algoritmes</p>
            </div>
            <div class="card-body">
                <p style="color: grey">
                    IAMA dient als een vragenlijst die organisaties grondig en kritisch laat kijken naar de noodzaak voor het inzetten, ontwikkelen, aankopen of aanpassen van algoritmes.
                     Het laat alle disciplines (lees beroepen) die betrokken zijn bij de inzet van een dergelijk algoritme samenkomen om vroegtijdig te proberen  toekomstige risico’s, nalatigheid en ongerechtvaardigde inbreuken op mensenrechten te voorkomen.
                     <br>
                     <br>
                     Om deze redenen kan IAMA ook als instrument gebruikt worden om de besluitvorming rondom algoritmes te leiden en vast te leggen. Hiermee creëert een organisatie ook gelijk het naslagwerk dat later verantwoording kan afleggen voor de besluiten die zijn gemaakt. 
                     Het is ook belangrijk om op te merken dat IAMA erg nauw samenhangt met andere richtlijnen en regulaties die gaan over het gebruikt van algoritmes, zoals de <a target="_blank" rel="noopener noreferrer" href="https://www.autoriteitpersoonsgegevens.nl/themas/basis-avg/praktisch-avg/data-protection-impact-assessment-dpia"><u>GEB/DPIA</u></a>, dit is ook de reden dat een aantal van de antwoorden die gegeven worden op deze vragen uitwisselbaar zijn onder dergelijke richtlijnen.
                     <br>
                     <br>
                     Het originele IAMA document, waar de inhoud van deze tool op gebaseerd is, opgesteld door Prof. mr. Janneke Gerards, Dr. Mirko Tobias Schäfer, Arthur Vankan en Iris Muis is <a target="_blank" rel="noopener noreferrer" href="https://www.rijksoverheid.nl/documenten/rapporten/2021/02/25/impact-assessment-mensenrechten-en-algoritmes"><u>hier</u></a> te vinden.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Het doen van een IAMA</h4>
                <p class="card-category">Hoe werkt IAMA als algoritme assessment?</p>
            </div>
            <div class="card-body">
                <p style="color: grey">
                    IAMA bestaat uit vier fases met ieder een overkoepelend thema en bijbehorende vragen.
                     Hiervan gaan de eerste drie over algemenere themas rondom het het beoordelen van algoritmes en gaat fase 4 specifiek over het omgaan met mensenrechten.
                     Hierin onderscheidt IAMA zich van andere impact assessments.
                     <br>
                     Zoals eerder is genoemd is het van belang dat meerdere disciplines betrokken zijn bij het uitvoeren van deze assessment en vereist iedere vraag van de IAMA een groep met de benodigde specialisten die deze disciplines omslaat. Dit is nodig om een zo volledig mogelijk antwoord te geven.
                     <br>
                     <br>
                     Wees tijdens het invullen van de IAMA vragen zo grondig and vooruitdenkend mogelijk, denk na over de consequenties van antwoorden en ook over mogelijke maatregelen die ongewenste of negatieve effecten kan mitigeren.
                     Om de IAMA als behoorlijk naslagwerk te kunnen laten dienen, moet de integriteit van het document gewaarborgd worden door voor ieder gegeven antwoord bij te houden wie heeft bijgedragen aan dat antwoord.
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Over IAMA Checker</h4>
                <p class="card-category">Een toegankelijkere IAMA assessment</p>
            </div>
            <div class="card-body">
                <p style="color: grey;">
                    De IAMA Checker is ontworpen als software tool om organisaties door het proces van een IAMA assessment heen te begeleiden, zonder dat de personen betrokken bij deze assesment uitgebreidde kennis over IAMA nodig hebben.
                    Zo hopen we de drempel voor het doen van IAMA te verlagen.
                    Het spreekt voor zich dat IAMA Checker veel overneemt van het originele IAMA bestand, dit is nodig om te garanderen dat de antwoorden uitwisselbaar zijn tussen de 2 instrumenten.
                    Echter, waar dat nodig is geacht is de informatie van de IAMA content gecondenseerd of aangevuld om zo een efficiënte en gestroomlijnde IAMA ervaring te bieden zonder dat dit ten kosten.
                    <br>
                    <br>
                    Deze tool voegt een aantal functionaliteiten toe die het doen van een assessment makkelijker en efficiënter maakt dan het originele IAMA pdf bestand,
                    dit zijn onder andere:
                    <ul style="color:grey">
                      <li>Het bijhouden van wie er aan een antwoord heeft meegewerkt en namens welke organisatie ze dit doen</li>
                      <li>Het behouden van antwoordgeschiedenis van een vraag</li>
                      <li>Het presenteren van externe literatuur voor extra context per vraag</li>
                      <li>Het makkelijk doorlopen van het stappenplan voor grondrechten in fase 4</li>
                      <li>Het bijhouden van compleetheids status van vragen en hele assessments</li>
                      <li>Weergeven welke disciplines aangeraden zijn om te betrekken bij het antwoord</li>
                      <li>Het makkelijk opslaan/bewerken/updaten van data betreffende een IAMA assessment</li>
                      <li>Het downloaden van een een overzicht met alle antwoorden in de assesment als pdf bestand</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
