{% extends 'base/base.html' %}

{% block navigation %}
<a href="{% url 'base:detail' assesment.id %}" style="color: grey">IAMA-Assesment - {{ assesment.name }}</a>
{% endblock %}

{% block add_editor %}
    <a href="{% url 'base:search_editor' assesment.id %}?next={{ request.path }}" style="justify-content-end" class="btn btn-primary btn-round">Voeg editor toe aan assesment +</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 text-center">
        <h2>Introductie Onderdeel {{ question.question_phase }}</h2>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-1">
        <div class="card" style="margin-bottom: 4em">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    {{ question.question_title }}
                </h4>
            </div>
            <div class="card-body">
                <br>
                {{ question.question_text|safe }} 
            </div>
        </div>
        {% if righst_listing %} 
            {% include "includes/rights_listing.hmtl" with rights_listing=rights_listing %}
        {% endif %}
        <div class="card" style="margin-top: 30px">
          <div class="card-header card-header-rose">
            <h4 class="card-title">Disciplines betrokken bij vragen</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th class="text-center">Vragen</th>
                  <th>Baanbeschrijving</th>
                </thead> 
                <tbody>
                  {% for job in jobs %}
                    <tr>
                      <td class="text-center">
                        {{ job.q_number }}
                      </td>
                      <td>
                        {% for dicipline in job.job_list %}
                          {% if dicipline.priority == 1 %}
                            <span class="badge badge-danger" style="font-size: 15px;">{{ dicipline.description }}</span>
                          {% else %}
                            <span class="badge badge-warning" style="font-size: 15px;">{{ dicipline.description }}</span>
                          {% endif %}
                        {% endfor %} 
                      </td>
                    </tr>  
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col text-center">
            {% if question.id != 1 %}
                <a href="{% url 'base:question_detail' assesment.id buttons.prev %}" class="btn btn-primary btn-round">Vorige</a>
            {% endif %}
            {% if question.id != 10 %}
                <a href="{% url 'base:question_detail' assesment.id buttons.next %}" class="btn btn-primary btn-round">Volgende</a>
            {% endif %}
          </div>
        </div>
      </div>
    <div class="col-md-3" style="padding-top: 30px">
        {% include "base/q_index.html" with assesment=assesment question_list=index_context_objects.question_list current_question=question.id status_list=index_context_objects.status_list %}
    </div>
</div>
{% endblock %}
