{% extends "base/base.html" %}

{% block navigation %}
Vraag details
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Vraag: {{ question.question_phase }}.{{ question.question_number }} </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> {{ question.question_title }} </h4>
            </div>
            <div class="card-body">
                <p> {{ question.question_text }} </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% include 'base/q_index.html' with assesment=assesment question_list=question_list current_question=question.id status_list=status_list %}
    </div>
</div>
<div class="row">
    <div class="col-md-9 text-center">
        {% if question.id != 1 %}
            <a href="{% url 'base:question_detail' assesment.id buttons.prev %}" class="btn btn-primary btn-round">Vorige</a>
        {% endif %}
        <a href="{% url 'base:question_detail' assesment.id buttons.next %}" class="btn btn-primary btn-round">Volgende</a>
    </div>
</div>
{% endblock %}