{% extends "base/base.html" %}

{% load base_extra %}

{% block navigation %}<a href="{% url 'base:detail' assesment.id %}" style="color:grey">IAMA-Assesment - {{ assesment.name }}</a>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Vraag: {{ question.question_phase }}.{{ question.question_number }} </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {% include 'base/collaborators.html' with collab_list=collab_list assesment_id=assesment.id question_id=question.id answer_id=answer.id %}
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title"> {{ question.question_title }} </h4>
            </div>
            <div class="card-body">
                <form action="{% url 'base:save_answer' assesment.id question.id %}" method="post">
                    {% csrf_token %}
                    <p> {{ question.question_text }} </p>
                    <textarea class="form-control rounded" name="answer_content" rows="3" style="background-color: #F8F8F8"> {{ answer.answer_content }} </textarea>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <div class="form-check">
                                <label class="form-check-label"> Reviewed en Compleet
                                {% if answer.status|is_reviewed %}
                                    <input class="form-check-input" name="reviewed" type="checkbox" value="reviewed" checked>
                                {% else %}
                                    <input class="form-check-input" name="reviewed" type="checkbox" value="reviewed">
                                {% endif %}
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3"><button type="submit" name="save_answer" class="btn btn-primary">Save/Update Antwoord</button></div>
                        <div class="col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        {% include 'base/q_index.html' with assesment=assesment question_list=index_context_objects.question_list current_question=question.id status_list=index_context_objects.status_list %}
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7 text-center">
        {% if question.id != 1 %}
            <a href="{% url 'base:question_detail' assesment.id buttons.prev %}" class="btn btn-primary btn-round">Vorige</a>
        {% endif %}
        <a href="{% url 'base:question_detail' assesment.id buttons.next %}" class="btn btn-primary btn-round">Volgende</a>
    </div>
</div>
{% endblock %}