<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="sidebar-wrapper">
      <div class="d-flex justify-content-around align-items-center" style="margin-top:1em; margin-left: 0.5em; margin-right: 0.5em">
        <a href="{% url 'base:landing_page' %}"><i class="material-icons">home</i></a>
          {% if request.user.is_authenticated %}
            <div class="vr"></div>
            <a href="{% url 'base:info' %}"><i class="material-icons">info</i></a>
            <div class="vr"></div>
            <a href="{% url 'accounts:info' %}"><i class="material-icons">person</i></a>
            <div class="vr"></div>
            <a href="#" onclick="myFunction()"><i class="material-icons">logout</i></a>
          {% endif %}
      </div>
      <ul class="nav">
      {% if request.user.is_authenticated %}
        {% include 'base/q_index.html' with assessment=assessment question_list=index_context_objects.question_list current_question=question.id status_list=index_context_objects.status_list %}
      {% endif %}
      </ul>
    </div>
    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
<script> 
    function myFunction() { 
        document.getElementById("logout-form").submit(); 
    } 
</script>

  </div>
