<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
    <div class="simple-text logo-normal"><a href="{% url 'base:landing_page' %}">IAMA Home</a></div>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
      {% if request.user.is_authenticated %}

        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="{% url 'base:home' %}">
            <i class="material-icons">dashboard</i>
            <p>Assessments</p>
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'base:info' %}" >
            <i class="material-icons">info</i>
            <p>Informatie</p>
          </a>
        </li>      

        <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:info' %}" >
            <i class="material-icons">person</i>
            <p>Account</p>
          </a>
        </li>      

        <li class="nav-item ">
          <a class="nav-link" href="#" onclick="myFunction()" >
            <i class="material-icons">directions_run</i>
            <p>Logout</p>
          </a>
        </li>      

      {% endif %}
      </ul>
    </div>
    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display:none">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
<script> 
    function myFunction() { 
        document.getElementById("logout-form").submit(); 
    } 
</script>

  </div>
