<div class="col">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Voordat je begint!</h4>
            <p class="card-category">Loop deze functionaliteiten van IAMA Checker om een betere assesment te doen!</p>
        </div>
        <div class="card-body">
            <h6>Compleetheids status</h6>
            Iedere vraag heeft een compleetheids status die te zien is in de vragen-index rechts op het scherm.
            Er zijn 3 verschillende compleetheids statussen:
            <div class="row justify-content-center" style="padding-top:15px;padding-bottom:15px">
                <span class='badge badge-danger badge-pill'>Onbeantwoord</span> <span class='badge badge-warning badge-pill'>Beantwoord</span><span class='badge badge-success badge-pill'>Reviewed</span>
            </div>
            Wat belangrijk is om te weten is dat <span class='badge badge-danger badge-pill'>Onbeantwoord</span> <span class='badge badge-warning badge-pill'>Beantwoord</span> automatisch wordt bijgehouden door de tool en dat het aan de gebruiker is om de vraag als <span class='badge badge-success badge-pill'>Reviewed</span> te markeren door naast de checkbox onderaan de vraag te markeren of demarkeren.
            <b>Het is aan de gebruiker zelf om te bepalen wanneer een vraag "reviewed" is</b>, maar het wordt aangeraden om een vraag als "reviewed" te beschouwen wanneer iedereen die mee heeft gewerkt aan het antwoord (idealiter is dit een groep mensen met alle aangeraden beroepen/disciplines bij de vraag) het antwoord goedkeurt. Tot slot, het is belangrijk om te weten dat een assesment als compleet wordt gemarkeerd als alle antwoorden in de game een "reviewed" status hebben.
            <hr/>
            <h6>Disciplines/Beroepen</h6>
            Bij iedere vraag onder de titel of in een tabel bij de introductie van een onderdeel staat vermeld welke beroepen/disciplines (sterk) aangeraden zijn om te betrekken bij het formuleren van een antwoord.
            Hoewel de tool niet kan forceren om bepaalde beroepen/disciplines betrokken te hebben in het gegeven antwoord, <b>zijn deze beroepen wel nodig volgens IAMA om goed geïnformeerde en complete antwoorden te geven</b>.
            Er wordt onderscheid gemaakt tussen 2 verschillende categoriëen in beroepen/disciplines: 
            <div class="row justify-content-center" style="padding-top:10px;padding-bottom:10px">
            <span class="badge badge-danger">Benodigd</span> <span class="badge badge-warning">Eventueel handig</span>
            </div>
            De genoemde beroepen/disciplines kunnen in titels en functie verschillen van bedrijf tot bedrijf, daarom wordt er een beroep gedaan aan de organisatie die de assesment doet om een groep samen te stellen die zoveel mogelijk van de functionaliteiten en kennis omslaat van de aangeraden beroepen/disciplines. 
            <hr/>
            <h6>Medewerkers</h6>
            IAMA Checker definiëert medewerkers als iedereen die het antwoord of delen daarvan heeft goed- of afgekeurd en/of aangepast.
            Door op de "Nieuwe medewerker" knop links van een vraag te drukken kan je een medewerker toevoegen aan de vraag, deze medewerker wordt dan aan de lijst van medewerkers toegevoegd met naam en bijbehorende organisatie.
            Door op het plus symbool te drukken naast de knop om de nieuwe medewerker op te slaan, kan je kiezen uit een lijst van medewerkers die al aan andere antwoorden in de assesment hebben meegewerkt.
          <div class="row justify-content-center" style="padding-top: 15px; padding-bottom: 15px;">
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nieuwe Medewerker
                  </button>
                  <form class="dropdown-menu p-4">
                      <div class="form-group">
                        <label for="name">Naam</label>
                        <input type="text" class="form-control" name="name" placeholder="Voor/Achter-naam">
                      </div>
                      <div class="form-group">
                        <label for="organisation">Organisatie</label>
                        <input type="text" class="form-control" name="organisation" placeholder="Voorbeeld org">
                      </div>
                      <input type="hidden" name="next" value="{{request.path}}">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          style="padding-left: 10px; padding-right:10px; margin-left: 10px">
                          +
                      </button>

                      <div class="dropdown-menu">
                          <a class="dropdown-item disabled">Voorbeeld Medewerker 1</a>
                          <a class="dropdown-item disabled">Voorbeeld Medewerker 2</a>
                          <a class="dropdown-item disabled">Voorbeeld Medewerker 3</a>
                      </div>
                  </form>
              </div>
          </div>
          <b>Het is van groot belang dat er zorgvuldig wordt bijgehouden wie er mee heeft gewerkt aan welk antwoord en names welke organisatie</b>, ondanks de grootte of impact van de bijdrage aan de inhoud.
          Hiermee wordt namelijk de verantwoordelijkheid en integriteit van de assesment gewaarborgt. 
          <hr/>
          <h6>Referenties</h6>
          Onderaan de vraag staan er aantal referenties naar externe literatuur die specifiek bij het invullen van die vraag kunnen helpen met geven van een beter geïnformeerd antwoord. Ook staat er een beschrijving bij om een idee te geven wat voor informatie er behaalt kan worden. Klik op het icoontje links van de referentie (voorbeeld hieronder) om de de site te openen in een andere tab.
          <div class="row justify-content-center">
              <a href=""><i class="material-icons">link</i></a>
          </div>
          <hr/>
          <h6>Tot slot!</h6>
          IAMA heeft meerdere functies, naast het doen van een assesment om te bepalen of het alogiritme in gebruik genomen moet worden functioneert het ook als naslagwerk dat laat zien welke beslissingen waarom zijn genomen.
          Daarom is het ook beter om zo grondig mogelijk te zijn in het opschrijven van een antwoord, beter te veel dan te weinig.
          Een persoon die niks te maken heeft gehad met de ontwikkelen van het algoritme en gemiddelde kennis over het onderwerp, moet de antwoorden kunnen lezen en achteraf zonder grote belangrijke vragen komen te zitten zoals "Waarom hebben ze hiervoor gekozen?" of "Wie is verantwoordelijk voor de beslissing?".
          <br>
          Verder, als blijkt dat er een probleem is volgens IAMA betekent dit niet meteen dat het algoritme afgeschreven moet worden.
          Het is goed mogelijk om mitigerende maatregelen te treffen die het algoritme nog steeds acceptabel maken zolang deze maatregelen goed worden vastgelegd in het IAMA document.
        </div>
    </div>
</div>
