<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
<title>Page Title</title>
<link href="./style.css" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
</head>
<body>
<hgroup>
    <h1>IAMA overzicht voor {{ assessment_name }}</h1>
    <h6>Dit is een samenvattend bestand dat de huidige staat van de (deels) ingevulde IAMA representeerd zoals deze is uitgewerkt in IAMA. Hierin zijn de antwoorden op de vragen in de IAMA te vinden en de uitwerking van het grondrechten stappenplan voor de verschillende grondrechten zoals deze zijn toegevevoegd in de originele IAMA uitwerking. In deze samenvatting valt niet te zien wie er aan welke antwoorden heeft meegewerkt en andere speciale features die wel beschikbaar zijn in IAMA Checker. Voor meer vragen over de IAMA kan men terecht bij de groep die verantwoordelijk is voor het uitvoeren van de IAMA.</h6>
<hgroup>
<div id="responsible">
    <b>Eindverantwoordelijken:</b>
    <ul>
        <li><b>Persoon:&emsp;&emsp;&emsp;&ensp;&ensp;</b>{{ ultimately_responsible.person }}</li>
        <li><b>Organisatie:&emsp;&emsp;</b>{{ ultimately_responsible.organisation }}</li>
    </ul>
</div>
<div class="subheader">
    <h3>Vragen fase 1<h3>
</div>
<div class="table-center">
    <table class="table-wide" role="grid">
      <tr>
        <th scope="col">Vraag nummer</th>
        <th scope="col">Vraag</th>
        <th scope="col">Antwoord</th>
      </tr>
      {% for question in question_list %}
        <tr>
            <td>{{ question.question_phase }}.{{ question.question_number }}</td>
            <td>{{ question.question_text }}</td>
            <td>{{question.question_answer }}</td>
        </tr>
      {% endfor %}
    </table>
</div>
<div class="subheader">
    <h3>Grondrechten stappenplannen</h3>
</div>
{% for right in rights %}
<div class="rights-title">
  <b>Naam grondrecht:</b>&nbsp; {{ right.name }}
</div>
<div class="table-center">
    <table class="table-wide">
        <tr>
            <th scope="col">Vraag</th>
            <th scope="col">Antwoord</th>
        </tr>
        {% for step in right.phase4 %}
            <tr>
              <td>{{ step.question }}</td>
              <td>{{ step.answer }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}

</body>
</html>

